In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
os.chdir(r"C:\Users\ABC\Documents\IBM AI 6th sem\Capstone Project1")

In [3]:
data=pd.read_csv("prods.csv")

In [4]:
data.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [5]:
data.shape

(1000, 4)

In [6]:
import sklearn.feature_extraction.text as text

In [7]:
tf=text.TfidfVectorizer(data['product_name'].tolist(),stop_words='english')
matrix=tf.fit_transform(data['product_name'])

In [8]:
pd.DataFrame(matrix.toarray(),columns=tf.get_feature_names())

,000,000mcg,013021,10,100,1000,1000mg,118,12,13,...,yogurt,yokids,yukon,yummy,zero,zesty,zfruit,zipper,zita,ziti
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
from sklearn.metrics.pairwise import cosine_similarity

In [10]:
sim_unigram=cosine_similarity(matrix)

In [11]:
sim_unigram[0].argsort()[-5:-1]

array([590, 575, 171, 558], dtype=int64)

In [12]:
def get_similar_items(x):
    return ",".join(data['product_name'].loc[x.argsort()[-5:-1]])
data['suggested_prods']=[get_similar_items(x) for x in sim_unigram]

In [13]:
data.head()

,product_id,product_name,aisle_id,department_id,suggested_prods
0,1,Chocolate Sandwich Cookies,61,19,Oreo Cookies and Cream Chocolate Frozen Dairy ...
1,2,All-Seasons Salt,104,13,"Thin Stackers Brown Rice Salt Free,Sardines i..."
2,3,Robust Golden Unsweetened Oolong Tea,94,7,Almond Breeze Unsweetened Almond Coconut Milk ...
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,"Classic coke,Ice Cream, Cookies & Cream,Mini D..."
4,5,Green Chile Anytime Sauce,5,13,"Petite Green Peas,Caramel Sauce,Apple Green Cu..."

In [14]:
data['suggested_prods'][0]

'Oreo Cookies and Cream Chocolate Frozen Dairy Dessert,Vanilla Sugar Cookies,Gluten Free All Natural Chocolate Chip Cookies,Cookie Chips Crunchy Dark Chocolate Chocolate Chip Cookies'

In [15]:
# Converting the aisle_id to string as tf-idf requires string input

data['aisle_id']=data['aisle_id'].map(lambda x:str(x))
# Map function expects two fetures, one function and other iterable object
# But when we do it with dot, it doesn't require the iterable object

In [16]:
def get_similar_aisle(x):
    return ",".join(data['aisle_id'].loc[x.argsort()[-5:-1]])
data['suggested_aisle_ids']=[get_similar_aisle(x) for x in sim_unigram]

In [17]:
data.head()

,product_id,product_name,aisle_id,department_id,suggested_prods,suggested_aisle_ids
0,1,Chocolate Sandwich Cookies,61,19,Oreo Cookies and Cream Chocolate Frozen Dairy ...,"37,61,61,61"
1,2,All-Seasons Salt,104,13,"Thin Stackers Brown Rice Salt Free,Sardines i...","107,33,104,104"
2,3,Robust Golden Unsweetened Oolong Tea,94,7,Almond Breeze Unsweetened Almond Coconut Milk ...,"91,91,94,61"
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,"Classic coke,Ice Cream, Cookies & Cream,Mini D...","77,37,37,131"
4,5,Green Chile Anytime Sauce,5,13,"Petite Green Peas,Caramel Sauce,Apple Green Cu...","116,103,111,107"

In [36]:
data['suggested__ids'][0]

'37,61,61,61'

In [44]:
data.drop('suggested_pro_ids',axis=1,inplace=True)

In [45]:
data.head()

,product_id,product_name,aisle_id,department_id,suggested_prods,suggested_aisle_ids
0,1,Chocolate Sandwich Cookies,61,19,Oreo Cookies and Cream Chocolate Frozen Dairy ...,"37,61,61,61"
1,2,All-Seasons Salt,104,13,"Thin Stackers Brown Rice Salt Free,Sardines i...","107,33,104,104"
2,3,Robust Golden Unsweetened Oolong Tea,94,7,Almond Breeze Unsweetened Almond Coconut Milk ...,"91,91,94,61"
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,"Classic coke,Ice Cream, Cookies & Cream,Mini D...","77,37,37,131"
4,5,Green Chile Anytime Sauce,5,13,"Petite Green Peas,Caramel Sauce,Apple Green Cu...","116,103,111,107"

In [49]:
data['product_id']=data['product_id'].map(lambda x:str(x))

In [50]:
def get_similar_prods(x):
    return ",".join(data['product_id'].loc[x.argsort()[-5:-1]])
data['suggested_pro_ids']=[get_similar_prods(x) for x in sim_unigram]

In [51]:
data.head()

,product_id,product_name,aisle_id,department_id,suggested_prods,suggested_aisle_ids,suggested_pro_ids
0,1,Chocolate Sandwich Cookies,61,19,Oreo Cookies and Cream Chocolate Frozen Dairy ...,"37,61,61,61","591,576,172,559"
1,2,All-Seasons Salt,104,13,"Thin Stackers Brown Rice Salt Free,Sardines i...","107,33,104,104","273,425,463,240"
2,3,Robust Golden Unsweetened Oolong Tea,94,7,Almond Breeze Unsweetened Almond Coconut Milk ...,"91,91,94,61","738,862,560,569"
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,"Classic coke,Ice Cream, Cookies & Cream,Mini D...","77,37,37,131","649,431,997,774"
4,5,Green Chile Anytime Sauce,5,13,"Petite Green Peas,Caramel Sauce,Apple Green Cu...","116,103,111,107","969,275,846,851"

In [54]:
data['department_id']=data['department_id'].map(lambda x:str(x))

In [55]:
def get_similar_dept(x):
    return ",".join(data['department_id'].loc[x.argsort()[-5:-1]])
data['suggested_dept_id']=[get_similar_dept(x) for x in sim_unigram]

In [56]:
data.head()

,product_id,product_name,aisle_id,department_id,suggested_prods,suggested_aisle_ids,suggested_pro_ids,suggested_dept_id
0,1,Chocolate Sandwich Cookies,61,19,Oreo Cookies and Cream Chocolate Frozen Dairy ...,"37,61,61,61","591,576,172,559","1,19,19,19"
1,2,All-Seasons Salt,104,13,"Thin Stackers Brown Rice Salt Free,Sardines i...","107,33,104,104","273,425,463,240","19,6,13,13"
2,3,Robust Golden Unsweetened Oolong Tea,94,7,Almond Breeze Unsweetened Almond Coconut Milk ...,"91,91,94,61","738,862,560,569","16,16,7,19"
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,"Classic coke,Ice Cream, Cookies & Cream,Mini D...","77,37,37,131","649,431,997,774","7,1,1,9"
4,5,Green Chile Anytime Sauce,5,13,"Petite Green Peas,Caramel Sauce,Apple Green Cu...","116,103,111,107","969,275,846,851","1,19,17,19"

In [57]:
data.to_csv("final_file.csv")